{{#each podcasts as |podcast|}}
<section class="show-pods" data-id="{{podcast._id}}">
  <div><h3>Title:</h3><h5>{{podcast.title}}</h5></div>
  <div><h3>Host(s):</h3><h5>{{podcast.hosts}}</h5></div>
  <div><h3>Topic:</h3><h5>{{podcast.topic}}</h5></div>
  <div><h3>Rating:</h3><h5>{{podcast.rating}}</h5></div>
  {{#if (checkOwner podcast.owner)}}
  <button type="submit" class="btn btn-danger" data-id="{{podcast._id}}">Delete</button>
  <form class="updateRate" data-id="{{podcast._id}}">
    <button type="submit" class="btn btn-outline-success btn-rounded waves-effect">Update</button>
    <input required type="text" placeholder="Rating" name="podcast[rating]">
  </form>
  {{/if}}
</section>

{{/each}}
